.page{
    background-color: rgb(36, 32, 32);
    color: aliceblue;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
