.places{
    max-width: 984px;
    padding-top: 92px;
    padding-bottom: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 1070px) {
    .places { 
        padding-top: 88px;
        padding-bottom: 90px;
        max-width: calc(100% - 96px);
    }
}
@media screen and (max-width: 800px) {
    .places { 
        padding-top: 88px;
        padding-bottom: 90px;
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 400px) {
    .places {
        max-width: 100%;
        padding-top: 64px;
        padding-bottom: 66px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
}