.lead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 984px;
    max-height: 1005px;
    margin: 0 auto;
}

@media screen and (max-width: 1070px) {
    .lead {
        margin-top: 0;
        padding-top: 0;
        max-width: 928px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .lead {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .lead {
      min-height: 406px;
    }
  }