.cover__subtitle{
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    color: white;
    z-index: 3;
}

@media screen and (max-width: 600px) {
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    max-width: 270px;
    max-height: 48px;
  }
}