.header {
    display: flex;
    align-items: flex-end;
    max-width: 1184px;
    max-height: 52px;
    margin: 0 auto;
    padding: 28px 56px 56px;
  }
@media screen and (max-width: 1070px) {
    .header {
      max-width: calc(100%-96px);
      padding-right: 24px;
      padding-left: 24px;
      padding-bottom: 48px;

    }
  }

@media screen and (max-width: 768px) {
    .header { 
      max-width: calc(100%-48px);
    }
  }

@media screen and (max-width: 400px) {
    .header {
      max-width: calc(100%-32px);
      max-height: 42px;
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }