.place__website_link{
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    transition: opacity .3s ease-in-out;
}
  
.place__website_link:hover {
    opacity: .8;
}

@media screen and (max-width: 800px) {
    .place__website_link {
      font-size: 16px;
    }
  }